@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.grey{
    color: grey;
}
.w-70{
    width: 50%;
}
.w-48{
    width: 48%;
}
.merriweather{
    font-family: 'Merriweather', serif; 
}
.list-style{
    list-style-type: none;
}
.border-radius{
    border-radius: 20px !important;
}